{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="inline-block">
        <div class="flex items-center flex-row w-auto">
            {% if first is defined and current != first %}
                <span class=" text-violet-600 px-3 py-2 text-lg font-bold">
                    <a href="{{ path(route, knp_pagination_query(query, first, options)) }}">
                        <twig:ux:icon name="lucide:arrow-left-to-line" class="w-4 h-4"/>
                    </a>
                </span>
            {% endif %}

            {% if previous is defined %}
                <span class=" text-violet-600 px-3 text-lg py-2">
                    <a rel="prev" href="{{ path(route, knp_pagination_query(query, previous, options)) }}">
                        <twig:ux:icon name="lucide:arrow-left" class="w-4 h-4"/>
                    </a>
                </span>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <span class=" text-violet-600 px-3 py-2 text-lg ">
                        <a href="{{ path(route, knp_pagination_query(query, page, options)) }}">{{ page }}</a>
                    </span>
                {% else %}
                    <span class="bg-violet-600 text-white px-3 py-2 rounded-mdG text-lg font-bold">{{ page }}</span>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <span class=" text-violet-600 px-3 py-2 text-lg">
                    <a rel="next" href="{{ path(route, knp_pagination_query(query, next, options)) }}">
                        <twig:ux:icon name="lucide:arrow-right" class="w-4 h-4"/>
                    </a>
                </span>
            {% endif %}

            {% if last is defined and current != last %}
                <span class=" text-violet-600 px-3 py-2 text-lg font-bold">
                    <a href="{{ path(route, knp_pagination_query(query, last, options)) }}">
                        <twig:ux:icon name="lucide:arrow-right-from-line" class="w-4 h-4"/>
                    </a>
                </span>
            {% endif %}
        </div>
    </div>
{% endif %}