{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
<h1>Changer mon mot de passe</h1>

{{ form_start(passwordForm) }}
    {{ form_row(passwordForm.plainPassword.first) }}
    {{ form_row(passwordForm.plainPassword.second) }}
    <button class="btn btn-primary">{{ form_widget(passwordForm.submit) }}</button>
{{ form_end(passwordForm) }}

<a href="{{ path('user_profile') }}">Retour à mon profil</a>
{% endblock %}
